In [64]:
#https://www.kaggle.com/code/stpeteishii/movie-review-bert-lgbm

In [65]:
import sqlite3
import pandas as pd
import numpy as np
import os

import random
import matplotlib.pyplot as plt

In [66]:
%pwd

'c:\\Python-Projects\\NLP\\Movie Review Project'

In [67]:
movies = pd.read_csv(r'C:\\Python-Projects\\NLP\\Movie Review Project\\rotten_tomatoes_movies.csv')
movies

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17707,m/zoot_suit,Zoot Suit,Mexican-American gangster Henry Reyna (Daniel ...,NaN,R,"Drama, Musical & Performing Arts",Luis Valdez,Luis Valdez,"Daniel Valdez, Edward James Olmos, Charles Aid...",1981-10-02,...,MCA Universal Home Video,Rotten,56.0,9.0,Upright,74.0,1195.0,2,5,4
17708,m/zootopia,Zootopia,From the largest elephant to the smallest shre...,The brilliantly well-rounded Zootopia offers a...,PG,"Action & Adventure, Animation, Comedy","Byron Howard, Rich Moore, Jared Bush","Jared Bush, Phil Johnston","J.K. Simmons, Kristen Bell, Octavia Spencer, A...",2016-03-04,...,Walt Disney Animation Studios,Certified-Fresh,98.0,291.0,Upright,92.0,101511.0,50,285,7
17709,m/zorba_the_greek,Zorba the Greek,Traveling to inspect an abandoned mine his fat...,NaN,NR,"Action & Adventure, Art House & International,...",NaN,NaN,"Anthony Quinn, Alan Bates, Irene Papas, Lila K...",1964-12-17,...,Fox,Fresh,80.0,10.0,Upright,86.0,7146.0,0,8,2
17710,m/zulu,Zulu,"In 1879, the Zulu nation hands colonial Britis...",Zulu patiently establishes a cast of colorful ...,PG,"Classics, Drama","Cy Endfield, Cyril Endfield","Cy Endfield, John Prebble","Stanley Baker, Jack Hawkins, Ulla Jacobsson, J...",1964-06-17,...,Paramount Pictures,Fresh,96.0,23.0,Upright,91.0,30193.0,6,22,1
17711,m/zulu_dawn,Zulu Dawn,Sir Henry Bartle Frere's (John Mills) vastly o...,NaN,PG,"Action & Adventure, Art House & International,...",Douglas Hickox,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh...",1979-12-14,...,Tango Entertainment,Rotten,50.0,8.0,Upright,62.0,4469.0,0,4,4

In [68]:
reviews = pd.read_csv(r'C:\\Python-Projects\\NLP\\Movie Review Project\\rotten_tomatoes_critic_reviews.csv')
reviews

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,m/0814255,Andrew L. Urban,False,Urban Cinefile,Fresh,NaN,2010-02-06,A fantasy adventure that fuses Greek mythology...
1,m/0814255,Louise Keller,False,Urban Cinefile,Fresh,NaN,2010-02-06,"Uma Thurman as Medusa, the gorgon with a coiff..."
2,m/0814255,NaN,False,FILMINK (Australia),Fresh,NaN,2010-02-09,With a top-notch cast and dazzling special eff...
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2010-02-09,Whether audiences will get behind The Lightnin...
4,m/0814255,Ethan Alter,True,Hollywood Reporter,Rotten,NaN,2010-02-10,What's really lacking in The Lightning Thief i...
...,...,...,...,...,...,...,...,...
1130012,m/zulu_dawn,Chuck O'Leary,False,Fantastica Daily,Rotten,2/5,2005-11-02,NaN
1130013,m/zulu_dawn,Ken Hanke,False,"Mountain Xpress (Asheville, NC)",Fresh,3.5/5,2007-03-07,"Seen today, it's not only a startling indictme..."
1130014,m/zulu_dawn,Dennis Schwartz,False,Dennis Schwartz Movie Reviews,Fresh,B+,2010-09-16,A rousing visual spectacle that's a prequel of...
1130015,m/zulu_dawn,Christopher Lloyd,False,Sarasota Herald-Tribune,Rotten,3.5/5,2011-02-28,"A simple two-act story: Prelude to war, and th..."
1130016,m/zulu_dawn,Brent McKnight,False,The Last Thing I See,Rotten,C,2020-07-09,Rides the line between being a pure artifact o...

In [76]:
# new data frame with split value columns
new = reviews["review_score"].str.split(r'(/|\D)', expand=True)

# reviews["review_score"] = new[0]
# reviews["threshold"] = new[2]
# reviews
new

           0    1    2     3     4     5     6     7     8
0        NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
1        NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
2        NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
3          3    .    5     /     5  None  None  None  None
4        NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
...      ...  ...  ...   ...   ...   ...   ...   ...   ...
1130012    2    /    5  None  None  None  None  None  None
1130013    3    .    5     /     5  None  None  None  None
1130014         B          +        None  None  None  None
1130015    3    .    5     /     5  None  None  None  None
1130016         C       None  None  None  None  None  None

[1130017 rows x 9 columns]

In [54]:
reviews.loc[reviews['review_score'] == 'A+', 'review_score'] = 5
reviews.loc[reviews['review_score'] == 'A', 'review_score'] = 5
reviews.loc[reviews['review_score'] == 'A-', 'review_score'] = 5
reviews.loc[reviews['review_score'] == 'A -', 'review_score'] = 5
reviews.loc[reviews['review_score'] == 'B+', 'review_score'] = 4
reviews.loc[reviews['review_score'] == 'B', 'review_score'] = 4
reviews.loc[reviews['review_score'] == 'B-', 'review_score'] = 4
reviews.loc[reviews['review_score'] == 'C+', 'review_score'] = 3
reviews.loc[reviews['review_score'] == 'C', 'review_score'] = 3
reviews.loc[reviews['review_score'] == 'C-', 'review_score'] = 3
reviews.loc[reviews['review_score'] == 'D+', 'review_score'] = 2
reviews.loc[reviews['review_score'] == 'D', 'review_score'] = 2
reviews.loc[reviews['review_score'] == 'D-', 'review_score'] = 2
reviews.loc[reviews['review_score'] == 'F+', 'review_score'] = 1
reviews.loc[reviews['review_score'] == 'F', 'review_score'] = 1
reviews.loc[reviews['review_score'] == 'F-', 'review_score'] = 1

In [55]:
reviews

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content,threshold
0,m/0814255,Andrew L. Urban,False,Urban Cinefile,Fresh,NaN,2010-02-06,A fantasy adventure that fuses Greek mythology...,NaN
1,m/0814255,Louise Keller,False,Urban Cinefile,Fresh,NaN,2010-02-06,"Uma Thurman as Medusa, the gorgon with a coiff...",NaN
2,m/0814255,NaN,False,FILMINK (Australia),Fresh,NaN,2010-02-09,With a top-notch cast and dazzling special eff...,NaN
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5,2010-02-09,Whether audiences will get behind The Lightnin...,5
4,m/0814255,Ethan Alter,True,Hollywood Reporter,Rotten,NaN,2010-02-10,What's really lacking in The Lightning Thief i...,NaN
...,...,...,...,...,...,...,...,...,...
1130012,m/zulu_dawn,Chuck O'Leary,False,Fantastica Daily,Rotten,2,2005-11-02,NaN,5
1130013,m/zulu_dawn,Ken Hanke,False,"Mountain Xpress (Asheville, NC)",Fresh,3.5,2007-03-07,"Seen today, it's not only a startling indictme...",5
1130014,m/zulu_dawn,Dennis Schwartz,False,Dennis Schwartz Movie Reviews,Fresh,4,2010-09-16,A rousing visual spectacle that's a prequel of...,None
1130015,m/zulu_dawn,Christopher Lloyd,False,Sarasota Herald-Tribune,Rotten,3.5,2011-02-28,"A simple two-act story: Prelude to war, and th...",5
1130016,m/zulu_dawn,Brent McKnight,False,The Last Thing I See,Rotten,3,2020-07-09,Rides the line between being a pure artifact o...,None

In [63]:
reviews.loc[(reviews['threshold'] == 'None') ]

Empty DataFrame
Columns: [rotten_tomatoes_link, critic_name, top_critic, publisher_name, review_type, review_score, review_date, review_content, threshold]
Index: []

In [22]:
for i in reviews["review_score"].unique():
    print(i)

nan
3
1
4
4
2
3
5
2
6
7
5
9
8
1
0

In [14]:
reviews["review_score"] = pd.to_numeric(reviews["review_score"])
reviews

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,m/0814255,Andrew L. Urban,False,Urban Cinefile,Fresh,NaN,2010-02-06,A fantasy adventure that fuses Greek mythology...
1,m/0814255,Louise Keller,False,Urban Cinefile,Fresh,NaN,2010-02-06,"Uma Thurman as Medusa, the gorgon with a coiff..."
2,m/0814255,NaN,False,FILMINK (Australia),Fresh,NaN,2010-02-09,With a top-notch cast and dazzling special eff...
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.0,2010-02-09,Whether audiences will get behind The Lightnin...
4,m/0814255,Ethan Alter,True,Hollywood Reporter,Rotten,NaN,2010-02-10,What's really lacking in The Lightning Thief i...
...,...,...,...,...,...,...,...,...
1130012,m/zulu_dawn,Chuck O'Leary,False,Fantastica Daily,Rotten,2.0,2005-11-02,NaN
1130013,m/zulu_dawn,Ken Hanke,False,"Mountain Xpress (Asheville, NC)",Fresh,3.0,2007-03-07,"Seen today, it's not only a startling indictme..."
1130014,m/zulu_dawn,Dennis Schwartz,False,Dennis Schwartz Movie Reviews,Fresh,NaN,2010-09-16,A rousing visual spectacle that's a prequel of...
1130015,m/zulu_dawn,Christopher Lloyd,False,Sarasota Herald-Tribune,Rotten,3.0,2011-02-28,"A simple two-act story: Prelude to war, and th..."
1130016,m/zulu_dawn,Brent McKnight,False,The Last Thing I See,Rotten,NaN,2020-07-09,Rides the line between being a pure artifact o...